<html>
<head>


</head>
<title> Cloud verification report. Executed on {{ date }} </title>

<body>
<style>
.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #dededf;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
	padding: 5px;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
	padding: 5px;
}
</style>

<div class="table_component" role="region" tabindex="0">

 <!-- Table with the individual tests  -->
 <table>
      <tr><th> Test scenario name</th><th>Test result status</th></tr>
      {% for k, v in verification_result.items() %}
      <tr><td> {{ k }}</td>
      <td>{{ v }}</td></tr>
      {% endfor %}
    </table>
</div>
</body>
</html>
