<html>
<head>


</head>
<title> Cloud verification report. Executed on {{ date }} </title>

<body>
<style>
.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #dededf;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
	padding: 5px;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
	padding: 5px;
}
</style>

<div class="table_component" role="region" tabindex="0">

 <!-- Table with the individual tests  -->
 <table>
      <tr><th> Test scenario name</th><th>Test result status</th></tr>
      {% for k, v in verification_result.items() %}
      <tr><td> {{ k }}</td>
      <td>{{ v }}</td></tr>
      {% endfor %}
    </table>
</div>
<br><br><br>
<div class="table_component" role="region" tabindex="0">

 <!-- Table with the individual tests  -->
 <table>
      <tr><th>Storage Benmarking</th><th></th></tr>
      <tr><th> Banchmark param</th><th>Benachmark value</th></tr>
      <tr><td> Read blocksize, bytes</td>  <td> {{ read.bs }}</td></tr>
     <tr><td> Read bandwidth, MB/s</td>  <td>{{ read.bw_mbs }}MBs</td></tr>
     <tr><td> Read Completion latency, ms </td>  <td> {{ read.clat_ms }}ms</td></tr>
     <tr><td> Read IO depth </td>  <td> {{read.iodepth}}</td></tr>
     <tr><td> Read IOps </td>  <td> {{read.iops}}</td></tr>
     <tr><td> Write blocksize, bytes</td>  <td>{{write.bs}}</td></tr>
     <tr><td> Write bandwidth, MB/s</td>  <td>{{write.bw_mbs}}ms</td></tr>
     <tr><td> Write Completion latency, ms</td>  <td>{{write.clat_ms}}</td></tr>
     <tr><td> Write IO depth</td>  <td>{{write.iodepth}}</td></tr>
     <tr><td> Write IOps</td>  <td>{{write.iops}}</td></tr>


    </table>
</div>

</body>
</html>
