# Template for the test network
NAME        = "{{ test_vnet_name }}"
DESCRIPTION = "A test network for post-deployment cloud verification"

VN_MAD = dummy
BRIDGE = {{ test_bridge_name | default('br-test') }}

{% if test_phydev is not none %}
PHYDEV = {{ test_phydev }}
{% endif %}

NETWORK_ADDRESS = {{ test_ip_net | default('10.0.0.0') }}
NETWORK_MASK    = {{ test_subnet_mask | default('255.255.255.0') }}
DNS             = {{ test_dns | default('10.0.0.1') }}
GATEWAY         = {{ test_gw | default('10.0.0.1') }}

AR=[TYPE = "IP4", IP = "{{ test_ip_net | default('10.0.0.10') }}", SIZE = "10" ]

