*.swp
*.tar.gz
__pycache__/
/ansible_collections/*
!/ansible_collections/opennebula/deploy
/inventory/.one-deploy/
/inventory/*.yml
!/inventory/example.yml
!/inventory/local.yml
!/inventory/shared.yml
!/inventory/shared-generic.yml
!/inventory/ceph.yml
!/inventory/ceph-hci.yml
!/inventory/infra.yml
!/inventory/federation-parallel.yml
!/inventory/federation-master.yml
!/inventory/federation-slave1.yml
!/inventory/federation-slave2.yml
!/inventory/evpn-ha.yml
/.env.yml
/poetry.lock
