[defaults]
collections_paths = ./ansible_collections/
action_plugins    = ./vendor/ceph-ansible/plugins/actions/
callback_plugins  = ./vendor/ceph-ansible/plugins/callback/
filter_plugins    = ./vendor/ceph-ansible/plugins/filter/
roles_path        = ./vendor/ceph-ansible/roles/
library           = ./vendor/ceph-ansible/library/
module_utils      = ./vendor/ceph-ansible/module_utils/

inventory              = ./inventory/example.yml
gathering              = explicit
host_key_checking      = false
display_skipped_hosts  = true
retry_files_enabled    = false
any_errors_fatal       = true
callbacks_enabled      = profile_tasks
callback_result_format = yaml
timeout                = 30

[privilege_escalation]
become      = true
become_user = root

[ssh_connection]
pipelining = true
# Uncomment to disable bastion:
ssh_args = -q -o ControlMaster=auto -o ControlPersist=60s
# Uncomment to enable bastion:
#ssh_args = -q -o ControlMaster=auto -o ControlPersist=60s -F inventory/.one-deploy/bastion
