<domain type='kvm'>
  <name>{{ frontend }}</name>
  <title>{{ frontend }}</title>

  <memory unit='KiB'>{{ memory_KiB }}</memory>
  <vcpu placement='static'>{{ vcpu_static }}</vcpu>
  <cpu mode='host-passthrough' check='none' migratable='on'/>

  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
  </features>
  <clock offset='utc'/>

  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>

{% if 'virtiofs' in (infra_shared_paths | map(attribute='driver_type')
                                    | map('default', None)
                                    | select
                                    | map('lower')) %}
  <memoryBacking>
    <source type='memfd'/>
    <access mode='shared'/>
  </memoryBacking>
{% endif %}

  <devices>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ runtime_dir }}/{{ frontend }}.iso' index='1'/>
      <backingStore/>
      <target dev='hda' bus='ide'/>
      <readonly/>
      <alias name='ide0-0-0'/>
      <address type='drive' controller='0' bus='0' target='0' unit='0'/>
    </disk>

    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='unsafe' discard='unmap'/>
      <source file='{{ runtime_dir }}/{{ frontend }}.qcow2' index='2'/>
      <backingStore/>
      <target dev='sda' bus='scsi'/>
      <alias name='scsi0-0-0-0'/>
      <address type='drive' controller='0' bus='0' target='0' unit='0'/>
    </disk>

    <controller type='scsi' index='0' model='virtio-scsi'>
      <driver queues='1'/>
      <alias name='scsi0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0'/>
    </controller>

    <controller type='pci' index='0' model='pci-root'>
      <alias name='pci.0'/>
    </controller>

    <controller type='ide' index='0'>
      <alias name='ide'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x1'/>
    </controller>

{% for fs in infra_shared_paths %}
    <filesystem type='mount' accessmode='passthrough'>
{% if fs.driver_type is defined and fs.driver_type is truthy %}
      <driver type='{{ fs.driver_type }}'/>
{% endif %}
      <source dir='{{ fs.source_dir }}'/>
      <target dir='{{ fs.target_dir }}'/>
    </filesystem>
{% endfor %}

    <controller type='virtio-serial' index='0'>
      <alias name='virtio-serial0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x0'/>
    </controller>

    <interface type='bridge'>
      <mac address='{{ context.ETH0_MAC | d("02:01:%02x:%02x:%02x:%02x" | format(*(context.ETH0_IP.split(".") | map("int")))) }}'/>
      <source bridge='{{ infra_bridge }}'/>
      <target dev='{{ frontend }}-nic0'/>
      <model type='virtio'/>
      <alias name='net0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x03' function='0x0'/>
    </interface>

    <input type='mouse' bus='ps2'>
      <alias name='input0'/>
    </input>

    <input type='keyboard' bus='ps2'>
      <alias name='input1'/>
    </input>

    <graphics type='vnc' port='{{ frontends_to_vnc_ports[frontend] }}' listen='0.0.0.0'>
      <listen type='address' address='0.0.0.0'/>
    </graphics>

    <audio id='1' type='none'/>

    <video>
      <model type='cirrus' vram='16384' heads='1' primary='yes'/>
      <alias name='video0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>
  </devices>
</domain>
