---
- name: Compute facts (GUI)
  ansible.builtin.set_fact:
    ssl: "{{ ssl_defaults | combine(ssl) }}"
  when: ssl is defined

- name: Configure Sunstone Server (token_remote_support)
  opennebula.deploy.cfgtool:
    dest: /etc/one/fireedge/sunstone/sunstone-server.conf
    parser: Yaml
    actions:
      - put:
          path: [token_remote_support]
          value: "{{ one_token }}"
  no_log: true
  notify:
    - Restart FireEdge Server
  when: one_token is defined and one_token is truthy
