# managed by one-deploy
[Service]
{# --- #}
{% if oneprometheus_limits['opennebula-prometheus.service'].CPUQuota is not none %}
CPUQuota={{ oneprometheus_limits['opennebula-prometheus.service'].CPUQuota }}
{% endif %}
{# --- #}
{% if oneprometheus_limits['opennebula-prometheus.service'].CPUWeight is not none %}
CPUWeight={{ oneprometheus_limits['opennebula-prometheus.service'].CPUWeight }}
{% endif %}
{# --- #}
{% if oneprometheus_limits['opennebula-prometheus.service'].MemoryHigh is not none %}
MemoryHigh={{ oneprometheus_limits['opennebula-prometheus.service'].MemoryHigh }}
{% endif %}
{# --- #}
{% if oneprometheus_limits['opennebula-prometheus.service'].MemoryMax is not none %}
MemoryMax={{ oneprometheus_limits['opennebula-prometheus.service'].MemoryMax }}
{% endif %}
{# --- #}
{% if oneprometheus_limits['opennebula-prometheus.service'].IOWeight is not none %}
IOWeight={{ oneprometheus_limits['opennebula-prometheus.service'].IOWeight }}
{% endif %}
{# --- #}
{% if oneprometheus_limits['opennebula-prometheus.service'].IOReadBandwidthMax is not none %}
IOReadBandwidthMax={{ oneprometheus_limits['opennebula-prometheus.service'].IOReadBandwidthMax }}
{% endif %}
{# --- #}
{% if oneprometheus_limits['opennebula-prometheus.service'].IOWriteBandwidthMax is not none %}
IOWriteBandwidthMax={{ oneprometheus_limits['opennebula-prometheus.service'].IOWriteBandwidthMax }}
{% endif %}
{# --- #}
{%
    set prometheus_args = [
        '--config.file=/etc/one/prometheus/prometheus.yml',
        '--storage.tsdb.path=/var/lib/prometheus/data/',
        (oneprometheus_limits['opennebula-prometheus.service']['storage.tsdb.retention.size'] is none) | ternary(
            none,
            '--storage.tsdb.retention.size=' ~ oneprometheus_limits['opennebula-prometheus.service']['storage.tsdb.retention.size']
        ),
        (oneprometheus_limits['opennebula-prometheus.service']['storage.tsdb.retention.time'] is none) | ternary(
            none,
            '--storage.tsdb.retention.time=' ~ oneprometheus_limits['opennebula-prometheus.service']['storage.tsdb.retention.time']
        ),
    ] | select
%}
ExecStart=
ExecStart=/usr/bin/prometheus {{ prometheus_args | map('regex_replace', '^(.*)$', "'\g<1>'") | join(' ') }}
