---
- name: Compute helper facts
  ansible.builtin.set_fact:
    ds_names: >-
      {{ _items | map(attribute='key') | list }}
    ds_dict: >-
      {{ _items | items2dict }}
  vars:
    _ds: >-
      {{ ds_defaults | combine(ds.config | d({}), recursive=true) }}
    _items: >-
      {{ _ds | dict2items
             | map(attribute='value')
             | map('dict2items')
             | flatten
             | rejectattr('value.managed', 'false') }}
  when: common_task in ['init', 'all']

- name: Ensure /var/lib/one/datastores/ exists
  ansible.builtin.file:
    path: /var/lib/one/datastores/
    state: directory
    owner: 9869 # oneadmin
    group: 9869 # oneadmin
    mode: u=rwx,g=rx,o=
  when: common_task in ['init', 'all']

- name: Convert Datastore directories into symlinks
  ansible.builtin.shell: |
    set -o errexit

    [[ ! -d "{{ _mount_path }}" ]] && echo "Symlink target {{ _mount_path }} does not exist." >&2 && exit 1

    mkdir -p "{{ _mount_path }}/{{ item.value.id }}"
    TARGET_PATH="{{ _mount_path }}/{{ item.value.id }}"

    if [[ -L "{{ _base_path }}" ]]; then
      TARGET="$(readlink -f "{{ _base_path }}")"
      [[ "${TARGET}" == "${TARGET_PATH}" ]] && exit 0
      rm -f "{{ _base_path }}"
    fi

    if [[ -d "{{ _base_path }}" ]]; then
      if rmdir "{{ _base_path }}"; then
        ln -s "${TARGET_PATH}" "{{ _base_path }}"
      else
        echo "Directory {{ _base_path }} exists and is not empty; skipping" >&2
        exit 0
      fi
    else
      ln -s "${TARGET_PATH}" "{{ _base_path }}"
    fi

    exit 78
  args:
    executable: /bin/bash
  vars:
    _mount_path: >-
      {{ item.value.src | d('/var/lib/one/datastores/') | normpath }}
    _base_path: >-
      /var/lib/one/datastores/{{ item.value.id }}
    _hosts: >-
      {{ item.value.groups | d([])
                           | map('extract', groups)
                           | flatten
                           | unique }}
  loop: "{{ hostvars['datastore_mapping_host'].ds_map | dict2items }}"
  loop_control:
    label: "{{ item.key }} -> {{ item.value.id }}"
  register: shell
  changed_when:
    - shell.rc == 78
  failed_when:
    - shell.rc not in [0, 78]
  when:
    - inventory_hostname in _hosts
    - _mount_path != '/var/lib/one/datastores'
    - common_task in ['symlink', 'all']
