---
- hosts: "{{ bastion_group | d('bastion') }}"
  collections:
    - opennebula.deploy
  roles:
    - role: bastion
      delegate_to: localhost
      become: false
      tags: [bastion]

- hosts:
    - "{{ router_group | d('router') }}"
    - "{{ frontend_group | d('frontend') }}"
    - "{{ node_group | d('node') }}"
    - "{{ grafana_group | d('grafana') }}"
    - "{{ mon_group_name | d('mons') }}"
    - "{{ mgr_group_name | d('mgrs') }}"
    - "{{ osd_group_name | d('osds') }}"
  strategy: linear
  collections:
    - opennebula.deploy
  roles:
    - role: helper/python3
    - role: helper/facts
    - role: helper/cache
    - role: helper/python3

- hosts:
    - "{{ frontend_group | d('frontend') }}"
    - "{{ node_group | d('node') }}"
  collections:
    - opennebula.deploy
  roles:
    - role: helper/hosts
      tags: [hosts]

- hosts:
    - "{{ frontend_group | d('frontend') }}"
    - "{{ node_group | d('node') }}"
    - "{{ mon_group_name | d('mons') }}"
    - "{{ mgr_group_name | d('mgrs') }}"
    - "{{ osd_group_name | d('osds') }}"
  collections:
    - opennebula.deploy
  roles:
    - role: helper/facts
      tags: [always]

    - role: precheck

- hosts:
    - "{{ frontend_group | d('frontend') }}"
    - "{{ node_group | d('node') }}"
  collections:
    - opennebula.deploy
  roles:
    - role: helper/keys
      tags: [keys]

    - role: helper/mkfs
      tags: [mkfs]

    - role: helper/fstab
      tags: [fstab]

    - role: helper/kernel
      tags: [kernel]
